<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="werkzeugkasten.dircpcon.objectContribution.folder"
            objectClass="org.eclipse.core.resources.IContainer">
         <menu
               id="werkzeugkasten.dircpcon.menu"
               label="%menu_dirBuildpath"
               path="additions">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="werkzeugkasten.dirbuildpath.action.RemoveClasspathDirAction"
               enablesFor="+"
               id="werkzeugkasten.dircpcon.action2"
               label="%action_removeDirFromBuildpath"
               menubarPath="werkzeugkasten.dircpcon.menu/additions">
         </action>
         <action
               class="werkzeugkasten.dirbuildpath.action.AddClasspathDirAction"
               enablesFor="+"
               id="werkzeugkasten.dircpcon.action1"
               label="%action_addDirToBuildpath"
               menubarPath="werkzeugkasten.dircpcon.menu/additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="werkzeugkasten.dirbuildpath.DirBuildpathStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="werkzeugkasten.dirbuildpath.viewer.DirBuildpathLabelDecorator"
            id="werkzeugkasten.dirbuildpathupdater.decorator"
            label="DirBuildpathDecorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IContainer">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
