<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="werkzeugkasten.console.anchor.HttpPatternMatchListener"
            flags="CASE_INSENSITIVE"
            id="werkzeugkasten.console.anchor.http"
            regex="https?://.*">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>

</plugin>
