<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="werkzeugkasten.dblauncher.variable.Variable"
            readOnly="true"
            variable="H2">
      </classpathVariableInitializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="werkzeugkasten.dblauncher.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="launcher"
            class="werkzeugkasten.dblauncher.preferences.DbPreferencesPage"
            id="werkzeugkasten.dblauncher.page"
            name="%plugin.label">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="werkzeugkasten.dblauncher.nature.DbLauncherNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="werkzeugkasten.dblauncher.viewers.DBRunningDecorator"
            id="werkzeugkasten.dblauncher.decorator"
            label="DBRunningDecorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectState
                     name="projectNature"
                     value="werkzeugkasten.dblauncher.nature">
               </objectState>
               <objectClass
                     name="org.eclipse.jdt.core.IJavaProject">
               </objectClass>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="werkzeugkasten.dblauncher.launch.DbLaunchConfigurationDelegate"
            id="werkzeugkasten.dblauncher.launchConfigurationType"
            modes="run, debug"
            name="%plugin.label"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="werkzeugkasten.dblauncher.launch.DbLaunchConfigurationTabGroup"
            id="werkzeugkasten.dblauncher.launchConfigurationTabGroup"
            type="werkzeugkasten.dblauncher.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="werkzeugkasten.dblauncher.launchConfigurationType"
            icon="icons/h2.gif"
            id="werkzeugkasten.dblauncher.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="werkzeugkasten.dblauncher.actionSet"
            label="%plugin.label"
            visible="true">
         <menu
               id="werkzeugkasten.dblauncher.menu"
               label="%plugin.label">
            <groupMarker
                  name="werkzeugkasten.dblauncher.groupMarker">
            </groupMarker>
         </menu>
         <action
               class="werkzeugkasten.dblauncher.action.ToggleServerAction"
               definitionId="werkzeugkasten.dblauncher.command.toggle"
               icon="icons/run_exc.gif"
               id="werkzeugkasten.dblauncher.action.start"
               label="%start"
               menubarPath="werkzeugkasten.dblauncher.menu/werkzeugkasten.dblauncher.groupMarker"
               toolbarPath="werkzeugkasten.dblauncher.groupMarker">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="werkzeugkasten.dblauncher.category"
            name="%plugin.label">
      </category>
      <command
            categoryId="werkzeugkasten.dblauncher.category"
            id="werkzeugkasten.dblauncher.command.toggle"
            name="%toggle">
      </command>
   </extension>

</plugin>
