<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="launchConfigurationFacet" name="launchConfigurationFacet" schema="schema/launchConfigurationFacet.exsd"/>
   <extension-point id="libraryConfigurator" name="libraryConfigurator" schema="schema/libraryConfigurator.exsd"/>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="werkzeugkasten.weblauncher.variable.Variable"
            readOnly="true"
            variable="SERVLET_API_2_5">
      </classpathVariableInitializer>
      <classpathVariableInitializer
            class="werkzeugkasten.weblauncher.variable.Variable"
            readOnly="true"
            variable="JSP_API_2_1">
      </classpathVariableInitializer>
      <classpathVariableInitializer
            class="werkzeugkasten.weblauncher.variable.Variable"
            readOnly="true"
            variable="SERVLET_API_2_4">
      </classpathVariableInitializer>
      <classpathVariableInitializer
            class="werkzeugkasten.weblauncher.variable.Variable"
            readOnly="true"
            variable="JSP_API_2_0">
      </classpathVariableInitializer>
   </extension>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="werkzeugkasten.weblauncher.nature.WebLauncherNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="werkzeugkasten.weblauncher.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="werkzeugkasten"
            class="werkzeugkasten.weblauncher.preferences.WebPreferencesPage"
            id="werkzeugkasten.weblauncher.page"
            name="%plugin.label">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="werkzeugkasten.weblauncher.viewers.WebRunningDecorator"
            id="werkzeugkasten.weblauncher.decorator"
            label="WebRunningDecorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectState
                     name="projectNature"
                     value="werkzeugkasten.weblauncher.nature">
               </objectState>
               <objectClass
                     name="org.eclipse.jdt.core.IJavaProject">
               </objectClass>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="werkzeugkasten.weblauncher.objectContribution.toggle"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="werkzeugkasten.weblauncher.menu.popup"
               label="%plugin.label">
            <groupMarker
                  name="additions">
            </groupMarker>
            <groupMarker
                  name="additions2">
            </groupMarker>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="werkzeugkasten.weblauncher.nature">
            </objectState>
         </visibility>
         <action
               class="werkzeugkasten.weblauncher.action.ToggleServerAction"
               enablesFor="1"
               icon="icons/start.gif"
               id="werkzeugkasten.weblauncher.action.toggle"
               label="%start"
               menubarPath="werkzeugkasten.weblauncher.menu.popup/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="werkzeugkasten.weblauncher.objectContribution.view"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="werkzeugkasten.weblauncher.menu.popup"
               label="%plugin.label">
            <groupMarker
                  name="additions">
            </groupMarker>
            <groupMarker
                  name="additions2">
            </groupMarker>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="werkzeugkasten.weblauncher.nature">
            </objectState>
         </visibility>
         <action
               class="werkzeugkasten.weblauncher.action.ViewOnServerAction"
               enablesFor="1"
               icon="icons/browser.gif"
               id="werkzeugkasten.weblauncher.action.view"
               label="%view"
               menubarPath="werkzeugkasten.weblauncher.menu.popup/additions2">
            <enablement>
               <or>
                  <objectState
                        name="projectPersistentProperty"
                        value="werkzeugkasten.weblauncher.checkserver=true">
                  </objectState>
                  <objectState
                        name="projectSessionProperty"
                        value="werkzeugkasten.weblauncher.serverstate">
                  </objectState>
               </or>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="werkzeugkasten.weblauncher.launch.WebLaunchConfigurationDelegate"
            id="werkzeugkasten.weblauncher.launchConfigurationType"
            modes="run, debug"
            name="%plugin.label"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="werkzeugkasten.common.debug.BasicLaunchConfigurationTabGroup"
            id="werkzeugkasten.weblauncher.launchConfigurationTabGroup"
            type="werkzeugkasten.weblauncher.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="werkzeugkasten.weblauncher.launchConfigurationType"
            icon="icons/server.gif"
            id="werkzeugkasten.weblauncher.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="werkzeugkasten.weblauncher.actionSet"
            label="%plugin.label"
            visible="true">
         <menu
               id="werkzeugkasten.weblauncher.menu"
               label="%plugin.label">
            <groupMarker
                  name="werkzeugkasten.weblauncher.groupMarker">
            </groupMarker>
         </menu>
         <action
               class="werkzeugkasten.weblauncher.action.ViewOnServerAction"
               definitionId="werkzeugkasten.weblauncher.command.view"
               icon="icons/browser.gif"
               id="werkzeugkasten.weblauncher.action.view"
               label="%view"
               menubarPath="werkzeugkasten.weblauncher.menu/werkzeugkasten.weblauncher.groupMarker"
               toolbarPath="werkzeugkasten.weblauncher.menu/werkzeugkasten.weblauncher.groupMarker">
         </action>
         <action
               class="werkzeugkasten.weblauncher.action.ToggleServerAction"
               definitionId="werkzeugkasten.weblauncher.command.toggle"
               icon="icons/start.gif"
               id="werkzeugkasten.weblauncher.action.toggle"
               label="%start"
               menubarPath="werkzeugkasten.weblauncher.menu/werkzeugkasten.weblauncher.groupMarker"
               toolbarPath="werkzeugkasten.weblauncher.menu/werkzeugkasten.weblauncher.groupMarker">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="werkzeugkasten.weblauncher.category"
            name="%plugin.label">
      </category>
      <command
            categoryId="werkzeugkasten.weblauncher.category"
            id="werkzeugkasten.weblauncher.command.toggle"
            name="%toggle">
      </command>
      <command
            categoryId="werkzeugkasten.weblauncher.category"
            id="werkzeugkasten.weblauncher.command.view"
            name="%view">
      </command>
   </extension>
   <extension
         point="werkzeugkasten.weblauncher.libraryConfigurator">
      <libraryConfigurator
            class="werkzeugkasten.weblauncher.launch.Servlet25Jsp21"
            type="Servlet 2.5 + JSP 2.1">
      </libraryConfigurator>
      <libraryConfigurator
            class="werkzeugkasten.weblauncher.launch.Servlet24Jsp20"
            type="Servlet 2.4 + JSP 2.0">
      </libraryConfigurator>
   </extension>

</plugin>
