<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="werkzeugkasten.twowaysql.editor.TwoWaySqlEditor"
            default="false"
            extensions="sql"
            id="werkzeugkasten.twowaysql.editor"
            name="TwoWaySqlEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="werkzeugkasten.twowaysql.editor.conf.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
