<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="resourceGenerator" name="resourceGenerator" schema="schema/resourceGenerator.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="werkzeugkasten.NLSgen.objectContribution"
            nameFilter="*.properties"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="werkzeugkasten.nlsgen.action.NLSAction"
               enablesFor="+"
               id="werkzeugkasten.NLSgen.action"
               label="%action_nls">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="werkzeugkasten.NLSgen.resourceGenerator">
      <resourceGenerator
            class="werkzeugkasten.nlsgen.gen.MultiLocaleStringsGenerator"
            desc="%desc_multilocale"
            id="werkzeugkasten.nlsgen.gen.MultiLocaleStringsGenerator"
            label="%label_multilocale">
      </resourceGenerator>
      <resourceGenerator
            class="werkzeugkasten.nlsgen.gen.SingleLocaleStringsGenerator"
            desc="%desc_singlelocale"
            id="werkzeugkasten.nlsgen.gen.SingleLocaleStringsGenerator"
            label="%label_singlelocale">
      </resourceGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="werkzeugkasten.nlsgen.ui.NLSPropertyPage"
            id="werkzeugkasten.NLSgen.page"
            name="%plugin_label"
            nameFilter="*.properties">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IFile">
               </adapt>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="werkzeugkasten.nlsgen.NLSgenStartup">
      </startup>
   </extension>

</plugin>
