<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="werkzeugkasten.weblauncher.launchConfigurationFacet">
      <launchConfigurationFacet
            class="werkzeugkasten.weblauncher.sdloader.SDLoaderLaunchConfigurationFacet"
            description="v0_1_05_200711211845"
            type="SDLoader">
      </launchConfigurationFacet>
   </extension>

</plugin>
