<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="werkzeugkasten.weblauncher.launchConfigurationFacet">
      <launchConfigurationFacet
            class="werkzeugkasten.weblauncher.sdloader.SDLoaderLaunchConfigurationFacet"
            description="v0_2_03"
            type="SDLoader">
      </launchConfigurationFacet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="werkzeugkasten.weblauncher.sdloader.objectContribution.toggle"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <objectState
                  name="projectNature"
                  value="werkzeugkasten.weblauncher.nature">
            </objectState>
         </visibility>
         <action
               class="werkzeugkasten.weblauncher.sdloader.action.ExportExecutableWarAction"
               enablesFor="1"
               icon="icons/trayicon.gif"
               id="werkzeugkasten.weblauncher.sdloader.action.toggle.war"
               label="%executable.war"
               menubarPath="werkzeugkasten.weblauncher.menu.popup/additions2">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="werkzeugkasten.weblauncher.sdloader.actionSet"
            label="%plugin.label"
            visible="true">
         <menu
               id="werkzeugkasten.weblauncher.menu"
               label="%plugin.label">
            <groupMarker
                  name="werkzeugkasten.weblauncher.groupMarker">
            </groupMarker>
         </menu>
         <action
               class="werkzeugkasten.weblauncher.sdloader.action.ExportExecutableWarAction"
               enablesFor="1"
               icon="icons/trayicon.gif"
               id="werkzeugkasten.weblauncher.sdloader.action.war"
               label="%executable.war"
               menubarPath="werkzeugkasten.weblauncher.menu/werkzeugkasten.weblauncher.groupMarker"
               toolbarPath="werkzeugkasten.weblauncher.menu/werkzeugkasten.weblauncher.groupMarker">
         </action>
      </actionSet>
   </extension>
</plugin>
