<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="werkzeugkasten.editor.actionSet"
            label="%plugin.name"
            visible="true">
         <menu
               id="werkzeugkasten.editor.menu"
               label="%plugin.name">
            <groupMarker
                  name="werkzeugkasten.editor.groupMarker">
            </groupMarker>
         </menu>
         <action
               class="werkzeugkasten.editor.action.ShowWhitespaceCharactersAction"
               definitionId="werkzeugkasten.editor.command.showws"
               icon="icons/enter.gif"
               id="werkzeugkasten.editor.action.whitespace"
               label="Show Whitespace Characters"
               style="toggle"
               toolbarPath="werkzeugkasten.editor.menu/werkzeugkasten.editor.groupMarker">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="werkzeugkasten.editor.category"
            name="%plugin.name">
      </category>
      <command
            categoryId="werkzeugkasten.editor.category"
            id="werkzeugkasten.editor.command.showws"
            name="Show Whitespace Characters">
      </command>
   </extension>

</plugin>
