<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="werkzeugkasten.weblauncher.launchConfigurationFacet">
      <launchConfigurationFacet
            class="werkzeugkasten.weblauncher.tomcat55.Tomcat55LaunchConfigurationFacet"
            description="Version 5.5.28"
            type="Tomcat5.5">
      </launchConfigurationFacet>
   </extension>

</plugin>
