<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="werkzeugkasten.weblauncher.tomcat.variable.Variable"
            readOnly="true"
            variable="TOMCAT_BASE">
      </classpathVariableInitializer>
   </extension>
   <extension
         point="werkzeugkasten.weblauncher.launchConfigurationFacet">
      <launchConfigurationFacet
            class="werkzeugkasten.weblauncher.tomcat.Tomcat6LaunchConfigurationFacet"
            description="Version 6.0.14"
            type="Tomcat6">
      </launchConfigurationFacet>
   </extension>

</plugin>
